*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.clearfix::before {
    content: "";
    display: table;
    clear: both;
}
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main{
    background-color: #141414;
}

/* Rem staat voor 16px
Z-index is de volgorde van overlappen van elementen */
header{
    background: #131313;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* position: sticky; */
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 90px;
}

#rijksmuseum{
    background-color: #d55140;
    background-size: 100%;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding: 15px;
}

/* .fa-gem{
    margin: 0.5rem;
} */

.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    grid-gap: 0 2rem;
    padding-right: 105px;
}

.navbar__item{
    height: 80px;
}

.navbar__linksBoven{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
}

.navbar__linksBoven:hover{
    color: #d55140;
    transition: all 0.5s ease;
}


/* Landing page content */

.main{
    background-color: #141414;
}

.main__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: calc(100vh - 80px);
    background-color: #141414;
    z-index: 1;
    width: 100%;
    padding: 0 95px;
    grid-gap: 20px;
}

.main__content h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin: 50px 0px;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/* Flex 1 gebruikt alle overige ruimte */
.main__content{
    flex: 1;
    display: flex;
    justify-content: center;
}

.main__button{
    font-size: 2rem;
    background-image: linear-gradient(to bottom, #db453b 25%, #ff8177 80%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    margin-left: 105px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    text-decoration: none;
}

.main__button a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

/* .main__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all 0,35s;
    border-radius: 4px;
} */

.main__button:hover{
    color: black;
    top: 3px;
}

.main__button:hover::after{
    width: 100%;
}

.main__img--container{
    background-size: cover;
    animation-name: fotoslider;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

#main__img{
    max-height: 85%;
}

.img_tentoonstelling{
    margin-left: 65px;
}

.tentoonstelling__button{
    font-size: 2rem;
    background-image: linear-gradient(to bottom, #db453b 25%, #ff8177 80%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin-top: 1rem;
    margin-left: 265px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    text-decoration: none;
}

.tentoonstelling__button a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.tentoonstelling__button a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

/* .tentoonstelling__button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0,35s;
    border-radius: 4px;
} */

.tentoonstelling__button:hover{
    color: black;
    top: 3px;
}

.tentoonstelling__button:hover::after{
    width: 100%;
}

.tentoonstelling{
    text-align: center;
    margin-bottom: 15px;
}

img{
    max-width: 85%;
    height: auto;
}

.sociale_proof{
    color: white;
    padding-top: 10px;
    font-size: 1rem;
}

.flex-container{
    display: flex;
    justify-content: center;
    min-height: 640px;
}

.linker_slider, .rechter_slider{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
}

.linker_slider{
    /* background: red; */
}

.main_slideshow {
    background: #000;
    display: flex;
}

.links_slider.half {
    float: left; 
    padding: 20px;
}

/* Geschiedenis */
body h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.8);
    color: #b8b1b8;
}

.container{
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    grid-gap: 20px;
    padding: 20px;
    background-color: white;
    min-height: 610px;
}

.container .box{
    position: relative;
    height: 250px;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 25%);
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
}

.container .box::before{
    position: absolute;
    content: "";
    top: 99%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(315deg,#910000 0%, #d80505, #fc2323 74%);
    transition: 0.4s;
}

.container .box:hover::before{
    top: 50%; 
}

.container .box .imgbox{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.container .box .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .box h4{
    font-size: 15px;
    position: relative;
    color: black;
}

.container .box:hover h4{
    color: #fff;
}

.container .box p{
    font-size: 14px;
    position: relative;
    color: black;
}

.container .box:hover p{
    color: #fff;
}


/* Tentoonstelling  */
.img-box{
    display: flex;
	width:100%;
}

.img{
    align-items: center;
}

.knop{
	border:none;
	outline:none;
	background:#888;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
}

.btn:hover{
	background: #111;
}

.beschrijving_tentoonstelling{
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
    margin: 10px 10px 10px 30px;
}

.beschrijving_tentoonstelling_onder{
    margin: 10px 10px 50px 30px;
}

.ul_tentoonstelling{
    text-decoration: none;
    line-height: 1.5 rem;
    letter-spacing: 1px;
    color: black;
    margin: 5px 0px 5px 47px;
}

/* Reviews */
.review_section{
    margin: auto;
    padding: 15px;
    max-width: 1200px;
    text-align: center;
}

.naam_review{
    font-size: 1.5rem;
    color: rgb(50, 50, 50);
}

.review{
    margin: 0 1rem;
    min-width: 300px;
    background-color: rgb(238, 238, 238);
    flex: 1;
    border-radius: 40px;
}

.reviews{
    margin: 2rem auto;
    display: flex;
    flex: 1;
}

.body_review{
    padding: 20px;
}

.date_review{
    color: rgb(150, 150, 150);
    font-style: italic;
}

.rating{
    color: rgb(253, 180, 42);
    margin: 10px;
}

.beschrijving{
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: rgb(150, 150, 150);
}

/* Footer */
.footer {
    color: white;
    height: 365px;
    position: relative;
    background: rgb(48, 48, 54);
}

.footer .footer_content {
    height: 315px;
    display: flex;
}

.footer .footer_content .footer_section{
    flex: 1;
    padding: 30px;
}

.gegeven:hover{
    color: #db453b;
    text-decoration: underline;
}

.gegeven{
    padding-top: 10px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.tickets{
    padding-top: 35px;
}

label{
    display: inline-block;
    width: 60%;
    font-size: 18px;
}

.maandag{
    padding-top: 30px;
}

.feestdagen{
    padding-top: 10px;
}

.contact_text{
    padding-bottom: 20px;
}

.text-box{
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
}

.verzend_btn{
    padding: 5px 10px;
}

.footer .footer_bottom {
    color: #686868;
    height: 50px;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    background: rgb(52, 58, 64);
}

/* FOTOSLIDER */
figure{
    width: 60%;
    height: 500px;
    padding: 14px 32px;
    position: relative;
    border-radius: 5px;
    background: brown;
    background-size: cover;
    animation-name: fotoslider;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    min-height: 400px;
}
 /* FOTOSLIDER EINDE */

 /* FOTOSLIDER ANIMATIE */

@keyframes fotoslider{
    0%{
        opacity: 0;
        background-image: url("../img/foto1.png")
    }
    12.5%{
        opacity: 1;
        background-image: url("../img/foto1.png");
    }
    24%{
        opacity: 0;
        background-image: url("../img/foto1.png");
    }
    25%{
        opacity: 0;
        background-image: url("../img/foto2.png");
    }
    37.5%{
        opacity: 1;
        background-image: url("../img/foto2.png");
    }
    49%{
        opacity: 0;
        background-image: url("../img/foto2.png");
    }
    50%{
        opacity: 0;
        background-image: url("../img/foto3.png")
    }
    62.5%{
        opacity: 1;
        background-image: url("../img/foto3.png")
    }
    74%{
        opacity: 0;
        background-image: url("../img/foto3.png")
    }
    75%{
        opacity: 0;
        background-image: url("../img/foto4.png");

    }
    87.5%{
        opacity: 1;
        background-image: url("../img/foto4.png");
    }
    99%{
        opacity: 0;
        background-image: url("../img/foto4.png");
    }
    100%{
        opacity: 0;
        background-image: url("../img/foto5.png");

    }
}