*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigator{
    padding-top: 10px;
    margin: 1%;
    height: 65px;
}

body {
    min-height: 100vh;
}

.voorPagina{
    background: linear-gradient(to left, black, 70% , #34689e);
    height: calc(100vh - 65px);    
    position: relative;
    width: 100vw;
}

.voorPaginaBinnenkant{
    height: 100%;
    max-width: 1500px;
    margin-left: 100px;
    position: relative;
}

.voorPaginaLinks{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

img {
    width: 70%;
    max-width: 100%;
    max-height: 100%;
    animation-name: gray;
    animation-duration: 1.2s;
    margin-left: 50%;
    /* position: absolute; */
    /* bottom:0;
    right: 0; */
}


.quote {
    margin-bottom: 32px;
    display: inline-block;
    color: white;
    font-size: 2rem;
    font-style: italic;
    inline-size: 11cm;
    height: auto;
    border-radius: 20px;
    text-align: left;
}


button{
    /* position: relative; */
    width: 155px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    font-size: 18px;
    border-radius: 117px;
}

#talen{
    float: right;
}

#bezoekNu{
   /* position: relative; */
   width: 62%;
   height: 90px;
   font-size: 36px;
   
}


@keyframes gray {
    from{
        filter:grayscale(1);
    }
    to{
        filter: grayscale(0);
    }
}